In [54]:
import pandas as pd

from pypbl.priors import Normal, Exponential
from pypbl.elicitation import BayesPreference
import numpy as np

In [2]:
data = pd.read_csv(r"E:\preferences_learning\mtcars.csv")
data.set_index('name', inplace=True)

In [50]:


# set index of the data frame to be the item names

p = BayesPreference(data=data)
p.set_priors([
    Exponential(1),  # MPG - high miles per gallon is preferred
    Normal(),  # number of cylinders
    Normal(),  # displacement
    Exponential(2),  # horsepower - high horsepower is preferred
    Normal(),  # real axle ratio
    Normal(),  # weight
    Exponential(-3),  # quarter mile time - high acceleration is preferred
    Normal(),  # engine type
    Normal(),  # transmission type
    Normal(),  # number of gears
    Normal()  # number of carburetors
])

# add some preferences and infer the weights for each parameter
p.add_strict_preference('Pontiac Firebird', 'Fiat 128')
p.add_strict_preference('Mazda RX4', 'Mazda RX4 Wag')
p.add_indifferent_preference('Merc 280', 'Merc 280C')
p.infer_weights(method='mean')

print('\ninferred weights')
for a, b in zip(data.columns.values.tolist(), p.weights.tolist()):
    print('{}: {}'.format(a, b))

# rank all the items and highlight the top five
print('\ntop 5 cars')
print(p.rank().head(5))

# suggest a new item to compare against the highest ranked solution - this may take some time to compute
print('\nsuggested pair to request new preference')
print(p.suggest())

d:\flats_scraper-1\.venv\lib\site-packages\emcee\moves\red_blue.py:99: RuntimeWarning: invalid value encountered in double_scalars
  lnpdiff = f + nlp - state.log_prob[j]

inferred weights
mpg: 0.39974131048272127
cyl: 0.3381451970456598
disp: 0.15075735838837348
hp: 0.7251445190743745
drat: -0.06459816831597372
wt: -0.30146797978443335
qsec: -0.8229817326202333
vs: -0.38347155639188846
am: -0.18639630679571018
gear: -0.22098036992376804
carb: 0.10919775667502273

top 5 cars
                    utility
Duster 360         0.751219
Maserati Bora      0.738236
Camaro Z28         0.736285
Ford Pantera L     0.546709
Hornet Sportabout  0.511698

suggested pair to request new preference
('Duster 360', 'Lincoln Continental')

In [76]:
to_score = data.loc[['Pontiac Firebird']]

In [71]:
to_score

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
name,,,,,,,,,,,
Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2

In [77]:
score = np.dot(to_score, p.weights)

In [82]:
data.loc[['Duster 360', 'Maserati Bora']]

                mpg  cyl   disp   hp  drat    wt   qsec  vs  am  gear  carb
name
Duster 360     14.3    8  360.0  245  3.21  3.57  15.84   0   0     3     4
Maserati Bora  15.0    8  301.0  335  3.54  3.57  14.60   0   1     5     8

In [83]:
w = p.weights

In [92]:
w.dot(p.data.loc['Duster 360'].values)

0.7512185979896188

In [93]:
w.dot(p.data.loc['Maserati Bora'].values)

0.7382364634064383

In [94]:
w.dot(p.data.loc['Camaro Z28'].values)

0.7362847787715912

In [81]:
p.rank()

                      utility
Duster 360           0.751219
Maserati Bora        0.738236
Camaro Z28           0.736285
Ford Pantera L       0.546709
Hornet Sportabout    0.511698
Pontiac Firebird     0.503171
Chrysler Imperial    0.457456
Merc 450SL           0.407834
Dodge Challenger     0.397551
Merc 450SE           0.385912
AMC Javelin          0.339997
Merc 450SLC          0.329069
Lincoln Continental  0.314966
Cadillac Fleetwood   0.293675
Ferrari Dino         0.120381
Mazda RX4           -0.029955
Mazda RX4 Wag       -0.104476
Porsche 914-2       -0.321571
Hornet 4 Drive      -0.433098
Merc 280            -0.465555
Lotus Europa        -0.534919
Merc 280C           -0.548153
Valiant             -0.600232
Toyota Corona       -0.702127
Honda Civic         -0.789139
Toyota Corolla      -0.844649
Fiat 128            -0.846582
Datsun 710          -0.847825
Volvo 142E          -0.852371
Fiat X1-9           -0.856950
Merc 240D           -0.881974
Merc 230            -1.114740

In [67]:
p.weights.dot(to_score.values)

ValueError: shapes (11,) and (1,11) not aligned: 11 (dim 0) != 1 (dim 0)

In [17]:
data.loc['Mazda RX4']

mpg      21.00
cyl       6.00
disp    160.00
hp      110.00
drat      3.90
wt        2.62
qsec     16.46
vs        0.00
am        1.00
gear      4.00
carb      4.00
Name: Mazda RX4, dtype: float64